/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */
body {
	font-family: Arial;
	font-size: 16px;
}
.wrap {
	background: #eee;
    max-width: 370px;
    margin: 10% auto 0 auto;
    padding: 5em 5em 5em 2.5em;
    box-shadow: 0px 3px 10px 0px #efefef;
    border-radius: 5px;
    border: 1px solid #ddd;
}
table {
	border: 1px solid #222;
}
table td {
	border: 1px solid #333;
}

input[type=text] {
	padding: 20px;
    display: block;
    width: 100%;
    font-size: 1em;
}
input[type=submit] {
padding: 15px 20px;
    background: #81b441;
    display: inline-block;
    border: 0 none;
    color: #fff;
    font-size: 1em;
    border-radius: 2px;
}
label {
	margin-bottom: 10px;
	display: block;
	color: #777;
}