/*
| -----------------------------------------------------
| PRODUCT NAME:     Inventory Management system
| -----------------------------------------------------
| AUTHOR:           MORNING SUN IT
| -----------------------------------------------------
| EMAIL:            info@morningsunit.com
| -----------------------------------------------------
| COPYRIGHT:        RESERVED BY MORNING SUN IT
| -----------------------------------------------------
| WEBSITE:          http://morningsunit.com
| -----------------------------------------------------
*/

@media only screen and (max-width: 800px) {

    #hide-table table.addlist,
    #hide-table table.addlist thead,
    #hide-table table.addlist tbody,
    #hide-table table.addlist th,
    #hide-table table.addlist td.addlisttd,
    #hide-table table.addlist tr {
        display: block;
    }

    #hide-table table.addlist thead tr,
    #hide-table table.addlist tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #hide-table table.addlist tr { border: 1px solid #ccc; }

    #hide-table table.addlist td.addlisttd {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #hide-table table.addlist td.addlisttd:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: 500;
        color: #1a2229;
    }

    #hide-table table.addlist td.addlisttd:before { content: attr(data-title); }

    .bootstrap-timepicker td a{ padding: 5px 12px !important;  }
    .bootstrap-timepicker td span{ padding: 5px 12px !important;  }
}