/*
| -----------------------------------------------------
| PRODUCT NAME:     Inventory Management system
| -----------------------------------------------------
| AUTHOR:           MORNING SUN IT
| -----------------------------------------------------
| EMAIL:            info@morningsunit.com
| -----------------------------------------------------
| COPYRIGHT:        RESERVED BY MORNING SUN IT
| -----------------------------------------------------
| WEBSITE:          http://morningsunit.com
| -----------------------------------------------------
*/

@media only screen and (max-width: 800px) {

    #hide-table table,
    #hide-table thead,
    #hide-table tbody,
    #hide-table th,
    #hide-table td,
    #hide-table tr {
        display: block;
    }

    #hide-table thead tr,
    #hide-table tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #hide-table tr { border: 1px solid #ccc; }

    #hide-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #hide-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: 500;
        color: #1a2229;
    }

    #hide-table td:before { content: attr(data-title); }
}