.select2-selection__choice{background-color: #524E8F !important}
.box-border{border:1px solid#ccc}
.img-height{height: 44px; position: absolute;top: 0px;right: 1px;}
.idcard-img-resize{padding: 0px !important;}
.idcard-font-resize h4{line-height: 0px; margin-bottom: 5px; font-size: 14px; line-height: 1px; padding-bottom: 4px}
.idcard-font-resize p{font-size: 10px; line-height:2px; padding-top: 4px}
.idcard-font-resize img{position: absolute;bottom: 5px; right: 0px;}
.idcard-img-resize p{padding-top: 5px;}
.idcard-box-size{width:320px; height: 200px; float:left; margin-left: 7px;padding-bottom:5px;}